{{#each posts}}
  <section class="section is-large">
    <div class="container">
      <div class="card">
        <div class="card-title"> {{title}} </div>
        <div class="card-text"> {{text}} </div>
      </div>
    </div>
  </section>
{{/each}}