{{#each posts}}
    <div class="card text-bg-dark mb-3 m-4">
  <div class="card-header">
   <h1>{{name}}</h1>
  </div>
  <div class="card-body">
    <h5 class="card-title">{{title}}</h5>
    <p class="card-text">{{text}}</p>
  </div>
</div>
{{/each}}




